@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
@import url("https://db.onlinewebfonts.com/c/83508f7a7fa801f818ae819a1b981635?family=Concielian+Classic+Condensed");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #DCDCDC;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  background-color: #111;
}

.container {
  width: 1152px;
  margin: 0 auto;
}

video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

h2 {
  text-align: center;
  font-size: 48px;
  letter-spacing: 4.32px;
}

.concielian {
  font-family: "Concielian Classic", sans-serif;
}

.black {
  color: #111;
}

.wrapper {
  position: relative;
}

.main {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  background-size: cover;
}
.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.main_content .header {
  position: absolute;
  width: 100%;
}
.main_content .header .inner_header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 52px 0;
}
.main_content .header .inner_header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  color: var(--main-color);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_content .text {
  top: 65.5vh;
  left: 0;
  width: 100%;
  position: absolute;
}
.main_content .text .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.main_content .text_big {
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 8.64px;
}
.main_content .text_button {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  padding: 16px 21px;
}
.main_title {
  margin: 0;
  font-size: 45px;
  color: #fff;
  text-align: center;
}
.main .video {
  position: relative;
  z-index: 1;
  padding-bottom: 56.25%;
}

.main:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.56)), color-stop(46%, rgba(0, 0, 0, 0)), color-stop(81%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.56)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0.56) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.models {
  margin: 66px 0 36px;
  text-align: center;
}
.models .container {
  width: 1342px;
}

.slider {
  margin-top: 66px;
  gap: 36px;
  position: relative;
  padding: 0 60px;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -20.5px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 41px;
  border: 0;
  cursor: pointer;
}
.slider .slick-prev {
  left: 0;
  background: url("../images/icon-right.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/icon-left.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slider .slick-dots {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #DCDCDC;
  border-radius: 50%;
  border: 0;
}
.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #DCDCDC;
}
.slider__item {
  padding: 0 15px;
}
.slider__item img {
  max-width: 100%;
}
.slider_element {
  width: 360px;
  height: 500px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}
.slider_element div {
  width: 100%;
  height: 140px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-42.5%, #000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000 -42.5%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
}
.slider_element div p {
  font-size: 48px;
  letter-spacing: 4.32px;
  position: absolute;
  left: 22px;
  bottom: 6px;
}
.slider_element_1 {
  background-image: url("../images/image-718.webp");
}
.slider_element_2 {
  background-image: url("../images/image-911.webp");
}
.slider_element_3 {
  background-image: url("../images/image-panamera.webp");
}
.slider_element_4 {
  background-image: url("../images/image-cayenne.webp");
}
.slider_element_5 {
  background-image: url("../images/image-taycan.webp");
}
.slider_element_6 {
  background-image: url("../images/image-macan.webp");
}

.slick-list {
  overflow: hidden;
}
.slick-slider {
  min-width: 0;
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.center {
  color: #111111;
}
.center_inner {
  width: 100%;
  height: 384px;
  background-color: #DCDCDC;
  border-radius: 10px;
  padding: 58px 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.center_inner p {
  width: 473px;
  color: #111111;
  font-size: 20px;
  letter-spacing: 1.8px;
}
.center_inner h3 {
  font-size: 36px;
  color: #111111;
  letter-spacing: 3.24px;
}
.center_inner a {
  width: 181px;
  height: 76px;
  border-radius: 4px;
  background: #111;
  padding: 28px 27px;
  font-size: 20px;
  letter-spacing: 1.8px;
}
.center_inner div {
  width: 726px;
  height: 384px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/image-center.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 0 4px 4px 0;
}

.shop h2 {
  margin: 66px 0;
}
.shop_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 36px;
}
.shop_inner_element {
  width: 360px;
  height: 500px;
  background-color: #DCDCDC;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.shop_inner_element img {
  width: 360px;
  height: 290px;
}
.shop_inner_element_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  padding: 14px 34px 26px 20px;
}
.shop_inner_element_text h4 {
  font-size: 24px;
  letter-spacing: 2.16px;
}
.shop_inner_element a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  justify-items: center;
  gap: 8px;
  bottom: 26px;
  left: 24px;
}
.shop_inner_element a img {
  margin-top: 4px;
  width: 6px;
  height: 12px;
}

.discover {
  padding: 0 0 66px;
}
.discover h2 {
  margin: 66px 0;
}
.discover_inner {
  gap: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.discover_inner_element {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  width: 360px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.discover_inner_element div {
  position: absolute;
  bottom: 28px;
  left: 16px;
}
.discover_inner_element div img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  margin-top: 5px;
  height: 18px;
  width: 9px;
  bottom: 4px;
}
.discover_inner_element div h4 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  font-size: 24px;
  bottom: 0;
}
.discover_inner_element div p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: -125px;
  width: 500px;
}
.discover_inner_element:hover {
  width: 100%;
}
.discover_inner_element:hover h4 {
  bottom: 110px;
}
.discover_inner_element:hover img {
  left: 700px;
}
.discover_inner_element:hover p {
  display: block;
  bottom: 0;
}
.discover_inner_element_one {
  background-image: url(../images/image-travel.webp);
}
.discover_inner_element_one img {
  left: 85px;
}
.discover_inner_element_two {
  background-image: url(../images/image-approved.webp);
}
.discover_inner_element_two img {
  left: 131px;
}
.discover_inner_element_three {
  background-image: url(../images/image-motorsport.webp);
}
.discover_inner_element_three img {
  left: 148.5px;
}