* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #DCDCDC;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(188deg, #000 -11.82%, #111 34.04%, #111 85.81%, #000 114.64%);
}

.container {
  width: 1152px;
  margin: 0 auto;
}

video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

h2 {
  text-align: center;
  font-size: 48px;
  letter-spacing: 4.32px;
}

.concielian {
  font-family: "Concielian Classic", sans-serif;
}

.black {
  color: #111;
}

.logo {
  width: 260px;
  height: 32px;
}

input {
  -moz-appearance: textfield;
}

.wrapper {
  position: relative;
}

.main {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  background-size: cover;
}
.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.main_content .header {
  position: absolute;
  width: 100%;
}
.main_content .header .inner_header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 52px 0;
}
.main_content .header .inner_header_top .userBtn {
  cursor: pointer;
}
.main_content .header .inner_header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  color: var(--main-color);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_content .text {
  top: 65.5vh;
  left: 0;
  width: 100%;
  position: absolute;
}
.main_content .text .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.main_content .text_big {
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 8.64px;
}
.main_content .text_button {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  padding: 16px 21px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main_content .text_button:hover {
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
}
.main_title {
  margin: 0;
  font-size: 45px;
  color: #fff;
  text-align: center;
}
.main .video {
  position: relative;
  z-index: 1;
  padding-bottom: 56.25%;
}

.main:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.56)), color-stop(46%, rgba(0, 0, 0, 0)), color-stop(81%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.56)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0.56) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.models {
  margin: 66px 0 36px;
  text-align: center;
}
.models .container {
  width: 1294px;
}

.slider {
  margin-top: 66px;
  gap: 36px;
  position: relative;
  padding: 0 60px;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -20.5px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 26px;
  height: 45px;
  border: 0;
  cursor: pointer;
}
.slider .slick-prev {
  left: 0;
  background: url("../images/icon-left.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/icon-right.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slider .slick-dots {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #DCDCDC;
}
.slider .slick-dots li.slick-active button {
  background-color: #DCDCDC;
}
.slider__item {
  padding: 0 15px;
}
.slider__item img {
  max-width: 100%;
}
.slider_element {
  width: 360px;
  height: 500px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.slider_element div {
  width: 100%;
  height: 140px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-42.5%, #000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000 -42.5%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider_element div h4 {
  font-size: 48px;
  letter-spacing: 4.32px;
  position: absolute;
  left: 22px;
  bottom: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider_element:hover h4 {
  bottom: 14px;
}
.slider_element_1 {
  background-image: url("../images/image-718.webp");
}
.slider_element_2 {
  background-image: url("../images/image-911.webp");
}
.slider_element_3 {
  background-image: url("../images/image-panamera.webp");
}
.slider_element_4 {
  background-image: url("../images/image-cayenne.webp");
}
.slider_element_5 {
  background-image: url("../images/image-taycan.webp");
}
.slider_element_6 {
  background-image: url("../images/image-macan.webp");
}

.slick-list {
  overflow: hidden;
}
.slick-slider {
  min-width: 0;
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.center {
  color: #111111;
}
.center_inner {
  width: 100%;
  height: 384px;
  background-color: #DCDCDC;
  border-radius: 10px;
  padding: 58px 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.center_inner p {
  width: 473px;
  color: #111111;
  font-size: 20px;
  letter-spacing: 1.8px;
}
.center_inner h3 {
  font-size: 36px;
  color: #111111;
  letter-spacing: 3.24px;
}
.center_inner a {
  width: 181px;
  height: 76px;
  border-radius: 4px;
  background: #111;
  padding: 28px 0;
}
.center_inner a p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  text-align: center;
  width: 100%;
  color: #DCDCDC;
}
.center_inner a:hover p {
  scale: 108%;
}
.center_inner div {
  width: 726px;
  height: 384px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/image-center.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 0 4px 4px 0;
}

.shop h2 {
  margin: 66px 0;
}
.shop_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 36px;
}
.shop_inner_element {
  width: 360px;
  height: 500px;
  background-color: #DCDCDC;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.shop_inner_element img {
  width: 360px;
  height: 290px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.shop_inner_element_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 206px;
  padding: 14px 14px 26px 20px;
}
.shop_inner_element_text_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shop_inner_element_text_top h4 {
  font-size: 24px;
  letter-spacing: 2.16px;
}
.shop_inner_element_text_bottom {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  gap: 8px;
  bottom: 26px;
}
.shop_inner_element_text_bottom img {
  margin-top: 2px;
  width: 6px;
  height: 12px;
}
.shop_inner_element_two {
  padding: 0 13px;
}
.shop_inner_element_two .main {
  margin: 20px auto 1px;
  width: 334px;
  height: 269px;
}
.shop_inner_element_six {
  padding: 0 13px;
}
.shop_inner_element_six .main {
  margin: 14px auto 15px;
  width: 324px;
  height: 261px;
}
.shop_inner_element:hover .main {
  scale: 115%;
}

.special h2 {
  margin: 66px 0;
}
.special .container {
  width: 1294px;
}
.special_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.special_inner_buttons {
  height: 40px;
  width: 21px;
  cursor: pointer;
}
.special_inner_main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1152px;
  height: 500px;
  border-radius: 10px;
  position: relative;
}
.special_inner_main_gradient {
  position: absolute;
  height: 200px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0)), color-stop(118.98%, #111));
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111 118.98%);
  bottom: 0;
}
.special_inner_main h3 {
  position: absolute;
  bottom: 80px;
  left: 40px;
  z-index: 2;
  font-size: 48px;
}
.special_inner_main p {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 2;
  font-size: 18px;
}

.discover {
  padding: 0 0 100px;
}
.discover h2 {
  margin: 66px 0;
}
.discover_inner {
  gap: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.discover_inner_element {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  width: 360px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.discover_inner_element div {
  position: absolute;
  bottom: 28px;
  left: 16px;
  width: 100%;
}
.discover_inner_element div img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  margin-top: 5px;
  height: 18px;
  width: 9px;
  bottom: 4px;
}
.discover_inner_element div h4 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  font-size: 24px;
  bottom: 0;
}
.discover_inner_element div p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: -125px;
  width: 500px;
}
.discover_inner_element:hover {
  width: 100%;
}
.discover_inner_element:hover h4 {
  bottom: 110px;
}
.discover_inner_element:hover img {
  left: 900px;
}
.discover_inner_element:hover p {
  display: block;
  bottom: 0;
}
.discover_inner_element_one {
  background-image: url(../images/image-travel.webp);
  background-position: left;
}
.discover_inner_element_one img {
  left: 85px;
}
.discover_inner_element_two {
  background-image: url(../images/image-approved.webp);
}
.discover_inner_element_two img {
  left: 145px;
}
.discover_inner_element_three {
  background-image: url(../images/image-motorsport.webp);
}
.discover_inner_element_three img {
  left: 148.5px;
}

.footer {
  padding: 40px;
  background-color: #DCDCDC;
}
.footer_inner_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 36px;
}
.footer_inner_top h5 {
  font-size: 24px;
}
.footer_inner_top p {
  font-size: 16px;
}
.footer_inner_top a {
  font-size: 20px;
}
.footer_inner_top_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer_inner_top_left a {
  width: 360px;
  height: 60px;
  background-color: #111;
  padding: 20px 0;
  border-radius: 10px;
}
.footer_inner_top_left a p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 18px;
  text-align: center;
  width: 100%;
}
.footer_inner_top_left a:hover p {
  scale: 108%;
}
.footer_inner_top_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  width: 360px;
}
.footer_inner_top_right {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer_inner_top_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.footer_inner_top_right ul img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer_inner_top_right ul li:hover img {
  scale: 110%;
}
.footer_inner_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_inner_bottom .line {
  width: 100%;
  height: 1px;
  background-color: #111;
  margin: 30px auto 0;
}
.footer_inner_bottom .logo {
  margin: 30px auto 0;
}

.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.modal_inner {
  position: relative;
  max-width: 500px;
  margin: 150px auto;
  width: 500px;
  height: 390px;
  background-color: #DCDCDC;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 50px;
}
.modal_inner .close {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 25px;
  top: 16px;
  cursor: pointer;
}
.modal_inner img {
  width: 255px;
  height: 31px;
  margin: 0 auto;
}
.modal_inner h6 {
  font-size: 20px;
}
.modal_inner a {
  height: 60px;
  background-color: #111;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 22px 0;
}
.modal_inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.modal_inner form input {
  padding: 0 15px;
  border-radius: 10px;
  height: 60px;
  border: 1px solid #111;
  font-size: 16px;
}