$main-color: #DCDCDC !global
*
  margin: 0
  padding: 0
  box-sizing: border-box
  color: $main-color
  font-family: 'Roboto', sans-serif
ul
  list-style: none
a
  text-decoration: none
body
  background: linear-gradient(188deg, #000 -11.82%, #111 34.04%, #111 85.81%, #000 114.64%)
.container
  width: 1152px
  margin: 0 auto
video
  width: 100%
  height: auto
  position: absolute
  top: 0
  left: 0
  pointer-events: none
h2
  text-align: center
  font-size: 48px
  letter-spacing: 4.32px
.concielian
  font-family: "Concielian Classic",  sans-serif
.black
  color: #111
.logo
  width: 260px
  height: 32px
input
  -moz-appearance: textfield
